@font-face {
    font-family: BlowBrush;
    src: url(../fonts/blowbrush.otf);
}

/* TODO: find a better way to do this */
.videoa{
    margin-left:-1em;
}
/*
body {
    overflow-y: hidden;
}
*/
.overlay {
    position:absolute;
    top:25%;
    left:35%;
    z-index:1;
}
.crown-overlay{
    position:absolute;
    top:21%;
    left:61%;
    z-index:1;
}
.button-overlay{
    position:absolute;
    top:70%;
    left:40%;
    z-index:1;
    height:3em;
    width:15em;
    font-size:1.2em;
    font-family:sans-serif;
    background-color:transparent;
    font-weight:bold;
}
.compass{
    margin-left:0.2em;
    margin-top:0.1em;
    position:relative;
    color:#800020;
    }
.btn-text{
    margin-left:0.5em;
    top:-0.3em;
    position:relative;
    color:#800020;
    }
.navbar-design{
    height:5em;
    margin-left:28.5em;
    letter-spacing: 3em;
}
.navbar-border{
    border-right:solid 0.05em;
}
.text-title {
    font-family: BlowBrush;
    font-size: 10em;
    text-transform:uppercase;
    background:url('../images/gold2.jpg');
    background-repeat:repeat-x;
    background-position:30% 40%;
    color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*
.title-effect{
white-space: nowrap;
  overflow: hidden;
  width: 15em;
  animation: type8s steps(60, end);
}
title:nth-child(2){
  animation: type2 8s steps(60, end);
}
title2:nth-child(2){
  animation: type2 8s steps(60, end);
}
@keyframes type{
  from { width: 0; }
}
*/
#title{
    margin-bottom:-5%;
}
#title2{
    margin-top:-28%;
}

.area{
  animation:blur .85s ease-in-out;
}

@keyframes blur{
  from{
      text-shadow:
      0px 10px 100px #FFF5C3,
      0px 10px 100px #FFF5C3,
      0px -10px 100px  #FFF5C3,
      0px -10px 100px #FFF5C3;}
}
.button{
-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline:none;
    }
.button:after {
    content: "";
    background: ghostwhite;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -5em!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}