@font-face {
    font-family: BlowBrush;
    src: url(../fonts/blowbrush.otf);
}
@font-face {
    font-family:  Alisandra Demo;
    src: url(../fonts/alisandrademo.ttf);
}
/* TODO: find a better way to do this */
body {
    top: 20px;
    left: 20px;
    bottom: 20px;
    right: 20px;
    }

#background {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
/*
body {
    overflow-y: hidden;
}
*/
.overlay {
    position:absolute;
    top:25%;
    left:35%;
    z-index:1;
}
.crown-overlay{
    position:absolute;
    top:21%;
    left:61%;
    z-index:1;
}
.button-overlay{
    position:absolute;
    top:70%;
    left:40%;
    z-index:1;
    height:3em;
    width:15em;
    font-size:1.2em;
    font-family:sans-serif;
    background-color:transparent;
    font-weight:bold;
}
.compass{
    margin-left:0.2em;
    margin-top:0.1em;
    position:relative;
    color:#800020;
    }
.btn-text{
    margin-left:0.5em;
    top:-0.3em;
    position:relative;
    color:#800020;
    }
.navbar-design{
    height:5em;
    margin-left:32.5em;
    letter-spacing: 3em;
}
.navbar-border{
    border-right:solid 0.2em;
    color:ghostwhite;
}
.text-title {
    font-family: BlowBrush;
    font-size: 10em;
    text-transform:uppercase;
    background:url('../images/gold2.jpg');
    background-repeat:repeat-x;
    background-position:30% 40%;
    color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
#title:hover{
	-webkit-stroke-width: 0.1em;
      -webkit-stroke-color: #FFF5C3;
      -webkit-fill-color: #FFF5C3;
      text-shadow: 0em 0em 0.35em #FFF5C3;
}
#title2:hover{
	-webkit-stroke-width: 0.1em;
      -webkit-stroke-color: #FFF5C3;
      -webkit-fill-color: #FFF5C3;
      text-shadow: 0em 0em 0.35em #FFF5C3;
}
/*
.title-effect{
white-space: nowrap;
  overflow: hidden;
  width: 15em;
  animation: type8s steps(60, end);
}
title:nth-child(2){
  animation: type2 8s steps(60, end);
}
title2:nth-child(2){
  animation: type2 8s steps(60, end);
}
@keyframes type{
  from { width: 0; }
}
*/
#title{
    margin-bottom:-5%;
}
#title2{
    margin-top:-28%;
}

.area{
  animation:blur .85s ease-in-out;
}

@keyframes blur{
  from{
      text-shadow:
      0px 10px 100px #FFF5C3,
      0px 10px 100px #FFF5C3,
      0px -10px 100px  #FFF5C3,
      0px -10px 100px #FFF5C3;}
}
.button{
-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline:none;
    }
.button:after {
    content: "";
    background: ghostwhite;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -5em!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/*
#borderimg{
   border: 0.5em solid ;
    border-image: url('../images/gold2.jpg');
    padding:-2em;
}
*/
/*end of home page */

/* beginning about page */
.navbar-design2{
    height:5em;
    margin-left:28.5em;
    letter-spacing: 3em;
}
.navbar2-color{
background-color:#4d0013 ;
}
.navbar-txt{
color:ghostwhite;
}
.navbar-txt:hover{
background:url('../images/gold2.jpg');
    background-repeat:repeat-x;
    background-position:30% 40%;
    color:transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.videoa2{
    margin-left:-1.1em;
    margin-top:-6em;
}


#background-about {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.about-content{
    height:600px;
    background-color: red;
    position:absolute;
    top:800px;
}